<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Letsg0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LetsGo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.782712178786-9nh17spokmlclof4q6ec19vt5c6gch3n</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to work. because users must post photos of activities</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Always and when you use it! location allows the user to activate their position to see the activities around them</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Always and when you use it! location allows the user to activate their position to see the activities around them</string>
	<key>NSLocationUsageDescription</key>
	<string>Always and when you use it! location allows the user to activate their position to see the activities around them</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Always and when you use it! location allows the user to activate their position to see the activities around them</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This application does not require access to the microphone. allows the user to send voice messages</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This application requires access to the photo library. allow the user to post photos on the application</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>NSAppTransportSecurity</key>
     <dict>
          <key>NSAllowsArbitraryLoads</key><true/>
     </dict>
    <key>NSCameraUsageDescription</key>
    <string>This app needs access to camera when used</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs access to microphone when used</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
